<section class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-form">
          <div class="section-title text-center">
            <h2 class="title">Update Service Category</h2>
          </div>
          <form
            class="contact-form-wrapper"
            name="updateServiceCategoryForm"
            #updateServiceCategoryForm="ngForm"
            (ngSubmit)="onSubmit()"
            *ngIf="!isSuccessful"
          >
            <div class="row">

              <div class="col-md-6">
                <select
                  class="form-select _dropdown"
                  name="specializations"
                  id="specializations"
                  (change)="changeSpecialization($event)"
                  required
                  [ngModel]="serviceCategory.specializationId"
                >
                  <option [value]="0">--- Specialization ---</option>
                  <option *ngFor="let specialization of listSpecializations" [value]="specialization.specializationId">
                    {{ specialization.specializationName }}
                  </option>
                </select>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input
                    class="form-control"
                    type="text"
                    id="serviceCategoryName"
                    name="serviceCategoryName"
                    placeholder="Service Category Name"
                    [ngModel]="serviceCategory.serviceCategoryName"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group mb-0">
                  <textarea
                    id="description"
                    name="description"
                    rows="5"
                    placeholder="Write service category description here..."
                    [ngModel]="serviceCategory.description"
                  ></textarea>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="form-group mb-0">
                  <button class="btn btn-theme btn-block" type="submit" style="margin-right: 10px;">
                    Save
                  </button>
                  <a class="btn btn-theme btn-block" href="/list-service-categories">Back To List</a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Message Notification -->
        <div class="form-message"></div>
      </div>
    </div>
  </div>
</section>
