<h2>Add Service Category</h2>
<div class="alert alert-success" role="alert" *ngIf="isSuccessful">
  {{ successMessage }}
</div>
<div class="alert alert-danger" role="alert" *ngIf="isFailed">
  {{ errorMessage }}
</div>
<form
  class="row g-3 needs-validation"
  novalidate
  name="updateServiceCategoryForm"
  #updateServiceCategoryForm="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="!isSuccessful"
>
  <div class="col-md-6">
    <label for="specializations" class="form-label">Specialization</label>
    <select
      class="form-select"
      name="specializations"
      id="specializations"
      (change)="changeSpecialization($event)"
      required
      [ngModel]="serviceCategory.specializationId"
    >
      <option
        *ngFor="let specialization of listSpecializations"
        [value]="specialization.specializationId"
      >
        {{ specialization.specializationName }}
      </option>
    </select>
  </div>
  <div class="col-md-6">
    <label for="serviceCategoryName" class="form-label"
      >Service Category Name</label
    >
    <input
      type="text"
      class="form-control"
      placeholder="Service category name"
      id="serviceCategoryName"
      name="serviceCategoryName"
      [ngModel]="serviceCategory.serviceCategoryName"
      required
    />
  </div>
  <div class="col-md-12">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      placeholder="Write service category description here..."
      id="description"
      name="description"
      style="height: 100px"
      [ngModel]="serviceCategory.description"
    ></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
