<h2>Request To Become Doctor</h2>
<div class="alert alert-success" role="alert" *ngIf="isSuccessful">
  {{ successMessage }}
</div>
<div class="alert alert-danger" role="alert" *ngIf="isFailed">
  {{ errorMessage }}
</div>
<form
  class="row g-3 needs-validation"
  novalidate
  name="requestBecomeDoctorForm"
  #requestBecomeDoctorForm="ngForm"
  *ngIf="!isSuccessful"
  (ngSubmit)="onSubmit()"
>
  <div class="col-md-6">
    <label>Medical Degree</label>
    <div class="row">
      <div class="col-8">
        <label class="btn btn-default p-0">
          <input type="file" (change)="selectFile($event)" />
        </label>
        <button
          class="btn btn-success btn-sm float-left"
          (click)="uploadMedicalDegree()"
        >
          Upload
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <label>Medical License</label>
    <div class="row">
      <div class="col-8">
        <label class="btn btn-default p-0">
          <input type="file" (change)="selectFile($event)" />
        </label>
        <button
          class="btn btn-success btn-sm float-left"
          (click)="uploadMedicalLicense()"
        >
          Upload
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <label for="universityName" class="form-label">University Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="University name"
      id="universityName"
      name="universityName"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="clinicName" class="form-label">Clinic Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Clinic name"
      id="clinicName"
      name="clinicName"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="position" class="form-label">Position</label>
    <input
      type="text"
      class="form-control"
      placeholder="Position"
      id="position"
      name="position"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="specialization" class="form-label">Specialization</label>
    <input
      type="text"
      class="form-control"
      placeholder="Specialization"
      id="specialization"
      name="specialization"
      ngModel
      required
    />
  </div>

  <div class="col-md-4">
    <label for="startWork" class="form-label">Start Work</label>
    <input
      type="date"
      class="form-control"
      placeholder="Start Work"
      id="startWork"
      name="startWork"
      ngModel
      required
    />
  </div>

  <div class="col-md-4">
    <label for="endWork" class="form-label">End Work</label>
    <input
      type="date"
      class="form-control"
      placeholder="End Work"
      id="endWork"
      name="endWork"
      ngModel
      required
    />
  </div>

  <div class="col-md-4">
    <label for="description" class="form-label">Skills</label>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="width: 420px"
      ></button>
      <ul class="dropdown-menu">
        <li *ngFor="let skill of skills">
          <input
            class="form-check-input"
            type="checkbox"
            id="option1"
            [value]="skill.skillId"
            (change)="onChange(skill.skillId)"
          />
          <label class="form-check-label" for="skill">{{
            skill.skillName
          }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <label for="jobDescription" class="form-label">Job Description</label>
    <textarea
      class="form-control"
      placeholder="Write job description here..."
      id="jobDescription"
      name="jobDescription"
      style="height: 100px"
      ngModel
    ></textarea>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
