<h2>Login Form</h2>
<br>
<form
  name="loginForm"
  #loginForm="ngForm"
  *ngIf="!isSuccessful"
  (ngSubmit)="onSubmit()"
>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      aria-describedby="username"
      ngModel
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      aria-describedby="password"
      ngModel
    />
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
  <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
    Username or password is wrong. Try again!
  </div>
</form>
