<h2>List Request To Become Doctor</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User Code</th>
      <th scope="col">Email</th>
      <th scope="col">Full Name</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Gender</th>
      <th scope="col">Phone Number</th>
      <th scope="col">University Name</th>
      <th scope="col">Medical Degree</th>
      <th scope="col">Medical License</th>
      <th scope="col">Experiences</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let request of listRequestDoctors">
      <td>{{ request.userCode }}</td>
      <td>{{(request.firstName === null || request.lastName === null) ? ' ' : (request.firstName+' '+request.lastName)}}</td>
      <td>{{ request.email }}</td>
      <td>{{request.dateOfBirth}}</td>
      <td>{{(request.gender == 1) ? 'Male' : 'Female'}}</td>
      <td>{{ request.phoneNumber}}</td>
      <td>{{ request.universityName }}</td>
      <td>
        <a href="{{request.medicalDegreeUrl}}">{{ request.medicalDegreeName}}</a>
      </td>
      <td>
        <a href="{{request.medicalLicenseUrl}}">{{ request.medicalLicenseName}}</a>
      </td>
      <td>
        <div class="d-flex justify-content-center align-items-center">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="showExperiences()"
          >
            Experiences Details
          </button>
        </div>
        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5>Experiences</h5>
                <div class="text-right">
                  <i
                    data-dismiss="modal"
                    aria-label="Close"
                    class="fa fa-close"
                  ></i>
                </div>
              </div>
              <div class="modal-body">
                <div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">Clinic Name</th>
                        <th scope="col">Position</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Start Work</th>
                        <th scope="col">End Work</th>
                        <th scope="col">Job Description</th>
                        <th scope="col">Skills</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let experience of request.experiences">
                        <td>{{ experience.clinicName }}</td>
                        <td>{{ experience.position }}</td>
                        <td>{{ experience.specialization }}</td>
                        <td>{{ experience.startWork }}</td>
                        <td>{{ experience.endWork }}</td>
                        <td>{{ experience.jobDescription }}</td>
                        <td>{{ experience.skillNames.join(", ") }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
