<h2>Register New Account</h2>
<form
  class="row g-3 needs-validation"
  novalidate
  name="registerForm"
  #registerForm="ngForm"
  *ngIf="!isSuccessful"
  (ngSubmit)="onSubmit()"
>
  <div class="col-md-6">
    <label for="username" class="form-label">Username</label>
    <input
      type="username"
      class="form-control"
      id="username"
      name="username"
      aria-describedby="username"
      ngModel
    />
  </div>

  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      aria-describedby="email"
      ngModel
    />
  </div>

  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      aria-describedby="password"
      ngModel
    />
  </div>

  <div class="col-md-6">
    <label for="password" class="form-label">Role</label>
    <div class="d-flex justify-content">
      <div class="form-check" style="margin-right: 30px">
        <input
          class="form-check-input"
          type="radio"
          name="role"
          id="user"
          value="user"
          (change)="onChange($event)"
          checked
        />
        <label class="form-check-label" for="user"> User </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="role"
          id="doctor"
          value="doctor"
          (change)="onChange($event)"
        />
        <label class="form-check-label" for="doctor"> Doctor </label>
      </div>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="isSuccessful">
    {{ successMessage }}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isRegisterFailed">
    {{ errorMessage }}
  </div>
</form>
