<section class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-form">
          <div class="section-title text-center mb-3">
            <h2 class="title">List Users Booking</h2>
          </div>
          <div class="container mt-5 px-1">
            <div class="mb-2 d-flex justify-content-between align-items-center">
              <div class="px-2">
                <span style="padding-right: 10px">Show</span>
                <select style="border-radius: 5px" name="pageSizes" id="pageSizes" (change)="changePageSize($event)"
                  required [ngModel]="selectedValue">
                  <option *ngFor="let pageSize of pageSizes" [value]="pageSize">
                    {{ pageSize }}
                  </option>
                </select>
                <span style="padding-left: 10px">entries</span>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="text-nowrap">Booking Code</th>
                    <th class="text-nowrap">Full Name</th>
                    <th class="text-nowrap">Date Of Birth</th>
                    <th class="text-nowrap">Gender</th>
                    <th class="text-nowrap">Phone Number</th>
                    <th class="text-nowrap">Address</th>
                    <th class="text-nowrap">Appointment Date</th>
                    <th class="text-nowrap">Appointment Schedule</th>
                    <th class="text-nowrap">Describe Symptoms</th>
                    <th class="text-nowrap">Status</th>
                    <th class="text-nowrap" >Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let booking of bookings">
                    <td class="text-nowrap">{{ booking.bookingCode }}</td>
                    <td class="text-nowrap">
                      {{
                      booking.firstName === null || booking.lastName === null
                      ? " "
                      : booking.firstName + " " + booking.lastName
                      }}
                    </td>
                    <td class="text-nowrap">{{ booking.dateOfBirth }}</td>
                    <td class="text-nowrap">{{ booking.gender == 1 ? "Male" : "Female" }}</td>
                    <td class="text-nowrap">{{ booking.phoneNumber }}</td>
                    <td class="text-nowrap">
                      {{
                      booking.userAddress.specificAddress === null
                      ? " "
                      : booking.userAddress.specificAddress +
                      ", " +
                      booking.userAddress.wardName +
                      ", " +
                      booking.userAddress.districtName +
                      ", " +
                      booking.userAddress.cityName
                      }}
                    </td>
                    <td class="text-nowrap">{{ booking.appointmentDate }}</td>
                    <td class="text-nowrap">{{ booking.startTime + " - " + booking.endTime }}</td>
                    <td class="text-nowrap">{{ booking.describeSymptoms }}</td>
                    <td class="text-nowrap">{{ booking.status }}</td>
                    <td class="text-nowrap">
                      <div class="d-flex justify-content">
                        <button type="button" class="btn btn-success" (click)="confirmedBooking(booking.bookingId)" style="margin-right: 10px;">
                          Confirm
                        </button>
                        <button type="button" class="btn btn-danger" (click)="cancelledBooking(booking.bookingId)">
                          Cancel
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-2">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" type="button" (click)="firstPage()">First</a>
                </li>
                <li class="page-item">
                  <a class="page-link" type="button" (click)="previousPage()">
                    <<</a>
                </li>
                <li class="page-item" *ngFor="let i of getNumberArray(totalPages)">
                  <a class="page-link" type="button" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" type="button" (click)="nextPage()">>></a>
                </li>
                <li class="page-item">
                  <a class="page-link" type="button" (click)="lastPage()">Last</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>