<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Clinic</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/#" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="isShowUserBoard">
        <a href="/#" class="nav-link" routerLink="admin">User Board</a>
      </li>
      <li class="nav-item" *ngIf="isShowAdminBoard">
        <a href="/#" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="isShowDoctorBoard">
        <a href="/#" class="nav-link" routerLink="mod">Doctor Board</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/#" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      
      <ng-container *ngFor="let role of roles">
        <ng-container *ngIf="role === 'ROLE_USER'">
          <li class="nav-item">
            <a href="/update-profile" class="nav-link" routerLink="update-profile">Update Profile</a>
          </li>
          <li class="nav-item">
            <a href="/request-become-doctor" class="nav-link" routerLink="request-become-doctor">Request To Become Doctor</a>
          </li>
        </ng-container>
      </ng-container>
      
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
