<!-- <schedule-component></schedule-component> -->
<div class="alert alert-success" role="alert" *ngIf="isSuccessful">
    {{ successMessage }}
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isFailed">
    {{ errorMessage }}
  </div>

<form
  class="row g-3 needs-validation"
  novalidate
  name="updateDoctorProfileForm"
  #updateDoctorProfileForm="ngForm"
  (ngSubmit)="onSubmit()"
  *ngIf="!isSuccessful"
>
<h2>Update Profile</h2>
  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="First Name"
      id="firstName"
      name="firstName"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      placeholder="Last name"
      id="lastName"
      name="lastName"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="dateOfBirth" class="form-label">Date Of Birth</label>
    <input
      type="date"
      class="form-control"
      placeholder="Date Of Birth"
      id="dateOfBirth"
      name="dateOfBirth"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="gender" class="form-label">Gender</label>
    <select class="form-select" name="gender" id="gender" required ngModel>
      <option [value]="1">Male</option>
      <option [value]="0">Female</option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="phoneNumber" class="form-label">Phone Number</label>
    <input
      type="text"
      class="form-control"
      placeholder="Phone Number"
      id="phoneNumber"
      name="phoneNumber"
      ngModel
      required
    />
  </div>

  <div class="col-md-6">
    <label for="cities" class="form-label">Cities</label>
    <select
      class="form-select"
      name="cities"
      id="cities"
      (change)="changeCity($event)"
      required
      ngModel
    >
      <option *ngFor="let city of cities" [value]="city.cityId">
        {{ city.cityName }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="cities" class="form-label">Districts</label>
    <select
      class="form-select"
      name="districts"
      id="districts"
      (change)="changeDistrict($event)"
      required
      ngModel
    >
      <option *ngFor="let district of districts" [value]="district.districtId">
        {{ district.districtName }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <label for="cities" class="form-label">Wards</label>
    <select
      class="form-select"
      name="wards"
      id="wards"
      (change)="changeWard($event)"
      required
      ngModel
    >
      <option *ngFor="let ward of wards" [value]="ward.wardId">
        {{ ward.wardName }}
      </option>
    </select>
  </div>

  <div class="col-md-12">
    <label for="specificAddress" class="form-label">Specific Address</label>
    <input
      type="text"
      class="form-control"
      placeholder="Specific Address"
      id="specificAddress"
      name="specificAddress"
      ngModel
      required
    />
  </div>

  <div class="col-md-4">
    <label for="skill" class="form-label">Skills</label>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="width: 420px"
      ></button>
      <ul class="dropdown-menu">
        <li *ngFor="let skill of skills">
          <input
            class="form-check-input"
            type="checkbox"
            id="option1"
            [value]="skill.skillId"
            (change)="onChangeSkills(skill.skillId)"
          />
          <label class="form-check-label" for="skill">{{
            skill.skillName
          }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <label for="workSchedule" class="form-label">Work Schedules</label>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="width: 420px"
      ></button>
      <ul class="dropdown-menu">
        <li *ngFor="let workScheduleDTO of workSchedulesDTO">
          <input
            class="form-check-input"
            type="checkbox"
            id="option1"
            [value]="workScheduleDTO"
            (change)="onChangeWorkSchedules(workScheduleDTO)"
          />
          <label class="form-check-label" for="workSchedule">{{
            workScheduleDTO.startTime +' - '+ workScheduleDTO.endTime
          }}</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-12">
    <label for="describeExperiences" class="form-label">Describe Experiences</label>
    <textarea
      class="form-control"
      placeholder="Write describe experiences here..."
      id="describeExperiences"
      name="describeExperiences"
      style="height: 100px"
      ngModel
    ></textarea>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
